@import '../variables.less';

:local {
  .root {
    background: linear-gradient(@select-bg-lg-start, @select-bg-lg-end);
    border: 1px solid @select-bc;
    border-bottom-color: @select-bc-bottom;
    border-radius: 3px;
    box-sizing: border-box;
    color: @select-color;
    cursor: default;
    display: inline-block;
    outline: 0;
    position: relative;
  }

  .root:focus {
    border-color: @select-focus-bc;
    box-shadow: 0 0 0 1px @select-focus-bc, inset 0 0 0 1px @select-focus-box-shadow-left-right;
    position: relative;
  }

  :global(.rt-ie8) {
    .root:focus {
      outline: 1px solid @select-focus-bc;
    }
  }

  .root:hover {
    background: @select-hover-bg;
    background: linear-gradient(@select-hover-bg-lg-start, @select-hover-bg-lg-end);
  }

  .isOpened {
    background: @select-isOpened-bg;

    && {
    }
  }
  .isOpened.isOpened {
    border-color: @select-isOpened-bc;
    box-shadow: inset 0 3px 2px -2px rgba(0, 0, 1, .3);
  }

  .label {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    max-width: 100%;
    padding: 0 20px 0 10px;
  }

  .labelIsOpened {
    position: relative;
    z-index: 1000;
  }

  .labelText {
    display: inline-block;
    height: 28px;
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
  }

  .placeholder {
    color: @select-placeholder-color;
  }

  .arrow {
    border: 4px solid transparent;
    border-bottom-width: 0;
    border-top-color: @select-arrow-bc-top;
    position: absolute;
    right: 8px;
    top: 13px;
  }

  .container {
    bottom: 1px;
    left: -1px;
    position: absolute;
    right: -1px;
    z-index: 1000;
  }

  .botBorder {
    background: @select-botBorder-bg;
    height: 1px;
    position: relative;
  }

  .overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .drop {
    min-width: 100%;
    position: absolute;
  }

  .menu {
    background: @select-menu-bg;
    border: 1px solid @select-menu-bc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    max-height: 300px;
    overflow: auto;
    padding: 4px 0;

    &Item {
      padding: 6px 18px 7px 6px;
      white-space: nowrap;
    }

    &ItemSelected {
      background: @select-menuItemSelected-bg;
    }

    &ItemCurrent {
      background: @select-menuItemCurrent-bg;
    }

    &Sep {
      border-top: 1px solid @select-menuSep-bc-top;
      margin: 5px 6px;
    }
  }

  .search {
    margin: 0 4px 4px;
  }
}
