@import "../variables.less";

:local {
  .root {
    display: inline-block;
    position: relative;
  }

  .label {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 34px 0 9px;
    max-width: 100%;
    width: 100%;

    &.labelWithLeftIcon {
      padding-left: 0;
    }
  }

  .labelText {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
  }

  .placeholder {
    color: #888;
  }

  .arrowWrap {
    bottom: 0;
    position: absolute;
    right: 13px;
    top: 0;

    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .arrow {
      border: 4px solid transparent;
      border-bottom-width: 0;
      border-top-color: #a6a6a6;
      display: inline-block;
      margin-bottom: 3px;
      vertical-align: middle;
    }
  }

  .search {
    margin: 1px 4px 4px;
  }
}
