:local {
  .root {
    border-radius: 1px;
    color: #3072c4;
    outline: none;
    text-decoration: none;
  }

  .root:hover {
    text-decoration: underline;
  }

  .root:focus {
    box-shadow: 0 0 0 2px #5199db;
  }

  :global(.rt-ie8) {
    .root:focus {
      outline: 2px solid #5199db;
    }
  }

  .root:active {
    color: #044785;
  }

  .root.disabled {
    box-shadow: none;
    color: #808080;
    cursor: default;
    text-decoration: none;
  }
}
