{
    "presets": [["es2015", { "loose": true, "modules": false }], "stage-0", "react"],
    "env": {
        "storybook": {
            "presets": [["es2015", { "loose": true }], "stage-0", "react"],
            "plugins": [
                [
                    "transform-define",
                    {
                        "REACT_UI_PACKAGE": "retail-ui"
                    }
                ]
            ]
        },
        "production": {
            "presets": [["es2015", { "loose": true }], "stage-0", "react"],
            "plugins": [
                [
                    "transform-define",
                    {
                        "REACT_UI_PACKAGE": "retail-ui"
                    }
                ]
            ]
        }
    }
}
