{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["@skbkontur", "plugin:react-hooks/recommended", "plugin:@typescript-eslint/recommended"],
  "globals": {
    "__DEV__": true,
    "Generator": true,
    "Iterable": true,
    "$Shape": true,
    "SyntheticClipboardEvent": true,
    "SyntheticCompositionEvent": true,
    "SyntheticDragEvent": true,
    "SyntheticEvent": true,
    "SyntheticFocusEvent": true,
    "SyntheticInputEvent": true,
    "SyntheticKeyboardEvent": true,
    "SyntheticMouseEvent": true,
    "SyntheticTouchEvent": true,
    "SyntheticUIEvent": true,
    "SyntheticWheelEvent": true,
    "Lookup": true,
    "ReactTesting": true
  },
  "rules": {
    "no-restricted-syntax": [
      2,
      {
        "selector": "ImportNamespaceSpecifier[local.name='React']",
        "message": "Use `import React from 'react'`"
      },
      {
        "selector": "ImportNamespaceSpecifier[local.name='ReactDOM']",
        "message": "Use `import { ... } from 'react-dom'`"
      }
    ],

    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": 2,
    "import/default": 0,
    "import/order": [
      2,
      {
        "newlines-between": "always"
      }
    ],
    "import/no-unresolved": 0,
    "import/no-duplicates": 2,
    "import/no-default-export": 2,
    "react/no-find-dom-node": 0,
    "react/display-name": 0,
    "@typescript-eslint/no-unused-vars": [1, { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-explicit-any": 2,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-non-null-assertion": 2,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/ban-types": [
      2,
      {
        "types": {
          "Function": false,
          "object": false,
          "{}": false
        },
        "extendDefaults": true
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-tabindex": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
