.env
.idea
.vscode
.DS_Store
*.code-workspace
*.orig
*.matrix-backup

node_modules
yarn-debug.log
yarn-error.log
npm-debug.log
lerna-debug.log

browsers/

.scannerwork
/packages/react-ui-validations/reports/
packages/**/*.tgz
