* text=auto eol=lf
packages/react-ui/.creevey/images/**/*.png filter=lfs diff=lfs merge=lfs -text
packages/react-ui-validations/selenium-tests/Assemblies/Chrome/**/chrome.dll filter=lfs diff=lfs merge=lfs -text lfs-size-threshold=150M
