{
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.demo.tsx",
      "options": {
        "printWidth": 90
      }
    }
  ]
}
