{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {"ignorePseudoClasses": ["local", "global"]}
    ],
    "selector-pseudo-element-colon-notation": "single",
    "selector-list-comma-newline-after": "always-multi-line"
  }
}
