.t-12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.t-12.t-spacing {
  margin-bottom: 8px;
}

.t-12.t-wide {
  line-height: 20px;
}

.t-12.t-wide.t-spacing {
  margin-bottom: 10px;
}

.t-14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.t-14.t-spacing {
  margin-bottom: 10px;
}

.t-14.t-wide {
  line-height: 22px;
}

.t-14.t-wide.t-spacing {
  margin-bottom: 12px;
}

.t-16 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.t-16.t-spacing {
  margin-bottom: 12px;
}

.t-16.t-wide {
  line-height: 24px;
}

.t-16.t-wide.t-spacing {
  margin-bottom: 12px;
}

.t-18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.t-18.t-spacing {
  margin-bottom: 12px;
}

.t-18.t-wide {
  line-height: 28px;
}

.t-18.t-wide.t-spacing {
  margin-bottom: 14px;
}

.t-20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

.t-20.t-spacing {
  margin-bottom: 14px;
}

.t-20.t-wide {
  line-height: 32px;
}

.t-20.t-wide.t-spacing {
  margin-bottom: 16px;
}

.t-22 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.t-22.t-spacing {
  margin-bottom: 14px;
}

.t-22.t-wide {
  line-height: 34px;
}

.t-22.t-wide.t-spacing {
  margin-bottom: 16px;
}

.t-24 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

.t-24.t-spacing {
  margin-bottom: 16px;
}

.t-24.t-wide {
  line-height: 36px;
}

.t-24.t-wide.t-spacing {
  margin-bottom: 18px;
}

.t-28 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.t-28.t-spacing {
  margin-bottom: 18px;
}

.t-32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
}

.t-32.t-spacing {
  margin-bottom: 20px;
}

.t-36 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  margin: 0;
}

.t-36.t-spacing {
  margin-bottom: 22px;
}

.t-40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
}

.t-40.t-spacing {
  margin-bottom: 24px;
}

.t-48 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin: 0;
}

.t-48.t-spacing {
  margin-bottom: 28px;
}

.t-56 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.t-56.t-spacing {
  margin-bottom: 32px;
}
