.t12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.t12.tSpacing {
  margin-bottom: 8px;
}

.t12.tWide {
  line-height: 20px;
}

.t12.tWide.tSpacing {
  margin-bottom: 10px;
}

.t14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.t14.tSpacing {
  margin-bottom: 10px;
}

.t14.tWide {
  line-height: 22px;
}

.t14.tWide.tSpacing {
  margin-bottom: 12px;
}

.t16 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.t16.tSpacing {
  margin-bottom: 12px;
}

.t16.tWide {
  line-height: 24px;
}

.t16.tWide.tSpacing {
  margin-bottom: 12px;
}

.t18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.t18.tSpacing {
  margin-bottom: 12px;
}

.t18.tWide {
  line-height: 28px;
}

.t18.tWide.tSpacing {
  margin-bottom: 14px;
}

.t20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

.t20.tSpacing {
  margin-bottom: 14px;
}

.t20.tWide {
  line-height: 32px;
}

.t20.tWide.tSpacing {
  margin-bottom: 16px;
}

.t22 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.t22.tSpacing {
  margin-bottom: 14px;
}

.t22.tWide {
  line-height: 34px;
}

.t22.tWide.tSpacing {
  margin-bottom: 16px;
}

.t24 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

.t24.tSpacing {
  margin-bottom: 16px;
}

.t24.tWide {
  line-height: 36px;
}

.t24.tWide.tSpacing {
  margin-bottom: 18px;
}

.t28 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  margin: 0;
}

.t28.tSpacing {
  margin-bottom: 18px;
}

.t32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
}

.t32.tSpacing {
  margin-bottom: 20px;
}

.t36 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  margin: 0;
}

.t36.tSpacing {
  margin-bottom: 22px;
}

.t40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
}

.t40.tSpacing {
  margin-bottom: 24px;
}

.t48 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin: 0;
}

.t48.tSpacing {
  margin-bottom: 28px;
}

.t56 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  margin: 0;
}

.t56.tSpacing {
  margin-bottom: 32px;
}
