@typography: {
  @t12: {
    font-size: 12px;
    line-height: 16px;
    wide-line-height: 20px;
  };
  @t14: {
    font-size: 14px;
    line-height: 20px;
    wide-line-height: 22px;
  };
  @t16: {
    font-size: 16px;
    line-height: 22px;
    wide-line-height: 24px;
  };
  @t18: {
    font-size: 18px;
    line-height: 24px;
    wide-line-height: 28px;
  };
  @t20: {
    font-size: 20px;
    line-height: 28px;
    wide-line-height: 32px;
  };
  @t22: {
    font-size: 22px;
    line-height: 30px;
    wide-line-height: 34px;
  };
  @t24: {
    font-size: 24px;
    line-height: 32px;
    wide-line-height: 36px;
  };
  @t28: {
    font-size: 28px;
    line-height: 36px;
    wide-line-height: null;
  };
  @t32: {
    font-size: 32px;
    line-height: 40px;
    wide-line-height: null;
  };
  @t36: {
    font-size: 36px;
    line-height: 44px;
    wide-line-height: null;
  };
  @t40: {
    font-size: 40px;
    line-height: 48px;
    wide-line-height: null;
  };
  @t48: {
    font-size: 48px;
    line-height: 56px;
    wide-line-height: null;
  };
  @t56: {
    font-size: 56px;
    line-height: 64px;
    wide-line-height: null;
  };
};

@weights: {
  @regular: 400;
  @medium: 500;
  @bold: 700;
};

.t(@size, @wide: false, @weight: default) {
  @size-key: ~'t@{size}';
  @style: @typography[@@size-key];

  font-size: @style[font-size];
  margin: 0;

  .set-weight() when (@weight = default) {
    font-weight: 400;
  }
  .set-weight() when not (@weight = default) {
    @weight-key: ~'@{weight}';
    @val: @weights[@@weight-key];
    font-weight: ~'@{val}';
  }
  .set-weight();

  @has-wide: boolean(not(@style[wide-line-height] = null));

  @line-height-value: if((@wide = true) and (@has-wide = true), @style[wide-line-height], @style[line-height]);
  line-height: @line-height-value;
}
