.t12 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
}

.t12.wide {
  line-height: 20px;
}

.t14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.t14.wide {
  line-height: 22px;
}

.t16 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.t16.wide {
  line-height: 24px;
}

.t18 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

.t18.wide {
  line-height: 28px;
}

.t20 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

.t20.wide {
  line-height: 32px;
}

.t22 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
}

.t22.wide {
  line-height: 34px;
}

.t24 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}

.t24.wide {
  line-height: 36px;
}

.t28 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
}

.t32 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.t36 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  margin: 0;
}

.t40 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin: 0;
}

.t48 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
  margin: 0;
}

.t56 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
  margin: 0;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}
