body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

.App_counter {
  font-size: 24px;
  min-width: 32px;
  padding: 0 8px;
  text-align: center;
}
