.wrapper {
  overflow-y: hidden;
  display: flex;
  height: 100vh;
}

.sideMenu {
  height: 100%;
}

.container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  box-sizing: border-box;
  padding-top: 24px;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.headerTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.panel {
  display: flex;
  gap: 8px;

  width: fit-content;

  margin-left: 40px;
  padding: 16px;
  border-radius: 8px;

  color: #fff;
  background-color: #366af3;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;

  flex-grow: 1;
  padding: 0 48px;
}

.item {
  display: flex;
  gap: 8px;
}

.itemTitle {
  box-sizing: border-box;
  min-width: 88px;
  min-height: 40px;
  padding: 9px 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.itemBody {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.itemToggle {
  box-sizing: border-box;
  min-height: 40px;
  padding: 9px 0;
}

.itemText {
  max-width: 376px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 0 72px 0 48px;
  background-color: #fff;
}

.footerDivider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.08);
}

.footerContent {
  display: flex;
  gap: 24px;
  padding: 16px 0;
}

.footerControls {
  display: flex;
  gap: 8px;
}

.footerWarningPanel {
  display: flex;
  gap: 8px;

  box-sizing: border-box;
  min-height: 48px;
  padding: 13px 16px;
  border-radius: 8px;

  background-color: #fff1ca;
}

@media (max-width: 991px) {
  .wrapper {
    flex-direction: column;
  }

  .container {
    padding-left: 16px;
    padding-left: 16px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0 8px;
  }

  .panel {
    margin-left: 0;
  }

  .content {
    padding: 0 8px;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .footerContent {
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
  }
}
