@import '../variables.less';

:local {
  .root {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .bg {
    background: @modal-back-bg;
    bottom: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    left: 0;
    opacity: @modal-back-opacity;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    padding: 20px 0;
    outline: none;
  }

  .container:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 80%; // to vertical align modal 40%/60% of screen height
  }

  .centerContainer {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .window {
    position: relative;
    white-space: normal;
    background: @bg-default;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }

  .close {
    color: #757575;
    color: @modal-close-button-color;
    float: right;
    font-family: arial;
    font-size: 30px;
    margin: 2px 2px 0 0;
    text-align: center;
    text-decoration: none;
    width: 76px;
    line-height: 70px;
    box-sizing: border-box;
    height: 65px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    &.disabled {
      color: @modal-close-button-disabled-color;
      pointer-events: none;
      cursor: default;
    }
  }

  .close:hover {
    color: @modal-close-button-hover-color;
  }

  .close + .body {
    padding-top: 29px;
  }

  .absoluteClose {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header {
    font-size: 22px;
    line-height: 30px;
    padding: 20px 80px 15px 30px;
  }

  .fixedHeader,
  .fixedFooter {
    background: @modal-fixed-header-bg;
  }

  .fixedHeader:after,
  .fixedFooter:before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: -1;
  }

  .fixedHeader:after {
    bottom: 1px;
    box-shadow: @modal-fixed-header-shadow;
  }

  .body {
    padding: 0 35px 26px 30px;
  }

  .footer {
    padding: 0 35px 20px 30px;
  }

  .footer.panel {
    background: @modal-footer-bg;
    padding-top: 20px;
  }

  .fixedFooter {
    padding-top: 20px;
  }

  .fixedFooter:before {
    top: 1px;
    box-shadow: @modal-fixed-footer-shadow;
  }
}
