:local {
  .root {
    display: inline-block;
    position: relative;
  }

  .buttonHolder {
    display: inline-block;
    position: relative;
  }

  .buttonLine {
    border-top: 1px solid #bbb;
    bottom: 0;
    content: '';
    position: absolute;
    width: 100%;
    z-index: 1001;
  }

  .picker {
    position: relative;
    top: -1px;
  }
}
