@import '../variables';

:local {
  .openButton {
    color: #333;
    cursor: pointer;
    line-height: 32px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 2;
    font-size: 14px;
  }

  .openButtonDisabled {
    color: @link-disabled-color;
    cursor: default;
  }
}
