@import '../variables';

:local {
  .openButton {
    color: #333;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    padding: 0 8px;
    margin-right: -8px;
    height: 100%;
    display: inline-block;
  }

  .openButtonDisabled {
    color: @link-disabled-color;
    cursor: default;
  }
}
