@import "../variables.less";

:local {
  .root {
    width: 240px;
    background: @bg-default;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: "Segoe UI", "Helvetica Neue", Arial, Tahoma, sans-serif;
  }

  .wrapper {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 1000;
    background: @bg-default;
  }

  .picker {
    padding: 6px 0 8px;
    margin: 0 20px;
    line-height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &:after {
      // it's 2017, jesus christ
      content: '';
      display: table;
      clear: both;
    }
  }

  .month {
    float: left;
  }

  .year {
    float: right;
  }

  .today {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    color: @link-color;
    text-align: center;
    background: @bg-default;
    border: 1px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.1);
    outline: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  :global(.rt-ie8) {
    .root {
      border: 1px solid #d5d5d5;
    }
  }
}
