@import '../variables.less';

:local {
  .root {
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
  }

  :global(.rt-ie8) {
    .root {
      border: 1px solid #d5d5d5;
    }
  }
}
