.spinner-fallback-big {
  background-image: url('fallback_cloud_big.png');
}

.spinner-fallback-normal {
  background-image: url('fallback_cloud_normal.png');
}

.spinner-fallback-mini {
  background-image: url('fallback_circle.png');
}
