
@easing: 0.2s ease-out;

:local {
  .root {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 9px;
    padding-bottom: 11px;
    box-sizing: border-box;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    transition: border-bottom @easing;
    cursor: pointer;
    position: relative;
    color: inherit;
    text-decoration: inherit;
  }

  .root.vertical {
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 17px;
    padding-right: 20px;
    border-bottom: none;
    border-left: 3px solid transparent;
  }

  .root:focus {
    outline: inherit;
  }

  .root.vertical:hover {
    border-bottom: none;
  }

  .active:hover {
    cursor: default;
    border-bottom: 3px solid transparent;
  }

  .active.vertical:hover {
    border-left: 3px solid transparent;
  }

  .focus {
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: -3px;
  }

  .vertical .focus {
    left: -3px;
    right: 0;
    bottom: 0;
  }

  .input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
  }

  .disabled {
    cursor: default;
  }

  .disabled:hover {
    border-bottom-color: transparent;
  }

  .disabled.vertical:hover {
    border-left-color: transparent;
  }
}
