@import (reference) '../mixins.less';

:local {
  .cell {
    .reset-button();

    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    font-size: 14px;
    padding: 0;
    user-select: none;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
