@import (reference) '../variables.less';

:local {
  .headerMonth {
    display: inline-block;
  }

  .headerYear {
    display: inline-block;
    position: absolute;
    right: 0;
  }

  .month {
    position: absolute;
    width: 210px;
  }

  .headerSticked {
    background-color: @calendar-month-header-sticked-bg-color;
    z-index: 1;
  }

  .monthTitle {
    font-weight: bold;
    border-bottom: @calendar-month-title-border-bottom;
    margin-bottom: 10px;
    position: relative;
  }

  .placeholder {
    display: inline-block;
  }
}
