@import '../variables.less';

:local {
  @cell-height: 31px;
  @cell-width: 26px;
  @day-side: 24px;

  .root {
    background: @bg-default;
    height: 220px;
    width: 280px;
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: 900;
  }

  .grey {
    background: #ececec;
  }

  .month {
    box-sizing: border-box;
    font-size: 14px;
    line-height: @cell-height;
    left: 191px;
    overflow: hidden;
    padding-left: 7px;
    position: absolute;
    width: 89px;
  }

  .year {
    display: none;
  }

  .month.first .year {
    display: block;
    line-height: 10px;
  }

  .cell {
    position: absolute;

    &:nth-child(7n + 1) .cellInner {
      margin-left: 6px;
    }

    &:nth-child(7n + 6) .cellInner {
      margin-left: 3px;
    }

    &:hover .cellInner {
      background: @border-color-focus;
      color: @text-color-invert;
    }
  }

  .cellInner {
    font-size: 14px;
    height: @day-side;
    line-height: @day-side;
    width: @day-side;
    cursor: pointer;
    margin: (@cell-height - @day-side) / 2 auto;
    text-align: center;
  }

  .cellToday .cellInner {
    font-weight: bold;
  }

  .cellCurrent .cellInner,
  .cellCurrent:hover .cellInner {
    color: @text-color-default;
    background: rgba(0, 0, 0, 0.09);
  }

  .cellHoly {
    color: @text-color-disabled;
  }
}
