:local {
  .root {
    overflow: hidden;
    position: relative;
  }

  .inner {
    overflow-y: scroll;
  }

  .scroll {
    position: absolute;
    right: 2px;
    transition: width .2s;
    width: 5px;

    &:after {
      background: #b7b7b7;
      border-radius: 5px;
      bottom: 1px;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }

  .scrollHover {
    width: 10px;
  }
}
