@import '../../variables.less';

:local {
  .root {
    background: @bg-default;
    overflow: auto;
    padding: 5px 0;
    outline: none;
  }

  .shadow {
    border: 1px solid #d5d5d5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
}
