// Common
@flat-border-color-focus: #1d85d0;

@placeholder-color: #aaa;
@placeholder-color-light: #bbb;

@blink-color: #cde4f8;

// Button

@btn-flat-checked-bg: #7e7e7e;

@btn-flat-default-bg: none;
@btn-flat-default-hover-bg: rgba(0, 0, 0, 0.06);
@btn-flat-default-active-bg: rgba(0, 0, 0, 0.12);
@btn-flat-default-disabled-bg: #f4f4f4;
@btn-flat-default-border: 1px solid rgba(0, 0, 0, 0.15);

@btn-flat-primary-bg: #1d85d0;
@btn-flat-primary-hover-bg: #1b7dc3;
@btn-flat-primary-active-bg: #1974b6;
@btn-flat-primary-disabled-bg: #1d85d0;
@btn-flat-primary-border: 1px solid transparent;

@btn-flat-success-bg: #419d14;
@btn-flat-success-hover-bg: #3c9312;
@btn-flat-success-active-bg: #398911;
@btn-flat-success-disabled-bg: #419d14;
@btn-flat-success-border: 1px solid transparent;

@btn-flat-danger-bg: #d9472b;
@btn-flat-danger-hover-bg: #cc4228;
@btn-flat-danger-active-bg: #be3e25;
@btn-flat-danger-disabled-bg: #d9472b;
@btn-flat-danger-border: 1px solid transparent;

@btn-flat-pay-bg: #ffca43;
@btn-flat-pay-hover-bg: #f0be3f;
@btn-flat-pay-active-bg: #e0b13a;
@btn-flat-pay-disabled-bg: #ffca43;
@btn-flat-pay-border: 1px solid transparent;

// Checkbox
@chb-flat-border: @btn-flat-default-border;
@chb-flat-border-radius: 2px;
@chb-flat-hover-bg: @btn-flat-default-hover-bg;
@chb-flat-active-bg: @btn-flat-default-active-bg;
@chb-flat-checked-bg: @flat-border-color-focus;

// Input
@chb-flat-input-bg: white;
@chb-flat-input-icon-color: #a9a9a9;

// Toggle
@toggle-flat-bg-checked: #3072c4;
@toggle-flat-bg-warning: #f69c00;
@toggle-flat-bg-error: #d70c17;
@toggle-flat-bg-active: #e5e5e5;
@toggle-flat-focus-shadow-color: #5199db;
@toggle-flat-border-color: #d0d0d0;

@import (optional) '~react-ui-theme-flat';
