// Common
@bg-default: #fff;
@bg-disabled: #f2f2f2;

@border-color-focus: #5199db;
@border-color-gray-dark: #b2b2b2;
@border-color-gray-light: #d9d9d9;
@border-color-gray-lighter: #fff;
@border-color-error: #da0902;

// Text
@text-color-default: #404040;
@text-color-invert: #fff;
@text-color-disabled: #808080;

// Link
@link-color: #3072c4;
@link-active-color: #044785;
@link-disabled-color: @text-color-disabled;

@dropdown-menu-border: #d0d0d0;
@dropdown-menu-bg: @bg-default;
@dropdown-menu-hover-bg: #e4f3ff;
@dropdown-menu-selected-bg: #f1f1f1;

// Button
// use success
@btn-success-bg: #419d14;
@btn-success-bg-lg-start: #4ba91d;
@btn-success-bg-lg-end: #38920c;
@btn-success-bc-top: #5e9450;
@btn-success-bc-bottom: #457339;
@btn-success-hover-bg: #36850f;
@btn-success-hover-bg-lg-start: #3b8d13;
@btn-success-hover-bg-lg-end: #317e0b;
@btn-success-hover-bc-top: #527f4d;
@btn-success-hover-bc-bottom: #426c36;
@btn-success-active-bg: #35840e;
@btn-success-active-bc-top: #3d5333;
@btn-success-active-bc-left-right: #51744c;
@btn-success-active-box-shadow: #29660b;

@import '~react-ui-theme/variables.less';
