@import (reference) '../mixins.less';

:local {
  .root {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .container {
    position: relative;
    white-space: nowrap;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    outline: none;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 80%; /* to vertical align modal 40%/60% of screen height */
    }
  }

  .centerContainer {
    position: relative;
    display: inline-block;
    margin: 40px 20px;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    z-index: 10;

    &.alignTop {
      vertical-align: top;
    }
  }

  .window {
    position: relative;
    white-space: normal;
    margin: auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .close {
    position: relative;
    float: right;
    background: none;
    cursor: pointer;

    &.disabled {
      pointer-events: none;
      cursor: default;
    }

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 30px;
      right: 40px;
      height: 18px;
      width: 2px;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }

    .closeOutline {
      display: none;
    }

    &:focus {
      .closeOutline {
        position: absolute;
        display: block;
        top: 24px;
        right: 26px;
        width: 26px;
        height: 26px;
      }
    }
  }

  .absoluteClose {
    position: absolute;
    right: 0;
    top: 0;
  }

  .header {
    font-size: 22px;
    line-height: 30px;
    padding: 24px 110px 11px 30px;
  }

  .fixedHeader {
    margin-bottom: 10px;
  }

  .fixedHeader::after,
  .fixedFooter::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    z-index: -1;
  }

  .fixedHeader::after {
    bottom: 11px;
  }

  .headerAddPadding {
    padding-bottom: 22px;
  }

  .body {
    padding: 0 35px 25px 30px;
  }

  .bodyWithoutHeader {
    padding-top: 30px;
  }

  .bodyAddPadding {
    padding-bottom: 30px;
  }

  .footer {
    padding: 0 35px 30px 30px;

    &.panel {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .fixedFooter {
    padding-top: 20px;
    margin-top: 10px;

    &::before {
      top: 11px;
    }
  }
}
