@import (reference) '../variables.less';

:local {
  .cross {
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: 0;
    width: 11px;
    right: 0;
    padding: 8px;
    height: 11px;
    white-space: nowrap;
    line-height: 10px;
    box-sizing: content-box;
  }

  .tooltipContent {
    position: relative;
    padding: 15px 20px;
  }
}
