.buttonArrowMixin(
  @className,
  @top,
  @left,
  @right,
  @size,
  @transform
) {
  .@{className} {
    .arrow {
      top:  @top;
      right:  @right;
      height: @size;
      width: @size;
      transform: @transform;
    }

    .arrow_left {
      left: @left;
    }
  }
}

.buttonLoadingArrowMixin(
  @className,
  @top,
  @leftArrowTop,
  @left,
  @height
) {
  .@{className} {
    .arrow {
      &.arrow_loading {
        &::before {
         top: @top;
         height: @height;
        }
      }
    }

    .arrow_left {
      &.arrow_loading {
        &::before {
          top: @leftArrowTop;
          left: @left;
        }
      }
    }
  }
}

@keyframes btn_loading {
  0% {
    transform: translateX(0) rotateY(180deg);
  }

  100% {
    transform: translateX(-30px) rotateY(180deg);
  }
}

@keyframes btn_loading_arrow {
  0% {
    transform: translateX(50px) rotate(-44.3deg) skewX(0deg) skewY(0deg);
  }

  100% {
    transform: translateX(21px) translateY(30px) rotate(-44.3deg) skewX(0deg) skewY(0deg);
  }
}
