@import (reference) '../mixins.less';
@import './Button.mixins.less';

:local {
  .wrap,
  .wrap_link,
  .wrap_arrow,
  .wrap_arrow_left,
  .root,
  .link,
  .errorRoot,
  .warningRoot,
  .error,
  .warning,
  .arrow_error,
  .arrow_warning,
  .loading,
  .arrow_loading,
  .caption,
  .icon,
  .narrow,
  .noPadding,
  .noRightPadding {
    visibility: visible;
  }

  // size Small
  .buttonArrowMixin(sizeSmall, 7.5px, -9.6px, -7.5px, 16.8px, rotate(53deg) skewX(24deg) skewY(10deg));
  .buttonLoadingArrowMixin(sizeSmall, 7px, 7px, -207px, 441%);

  .sizeSmall {
    font-size: 14px;
  }

  // size Medium
  .buttonArrowMixin(sizeMedium, 9px, -9.6px, -10.2px, 20.2px, rotate(53deg) skewX(24deg) skewY(8deg));
  .buttonLoadingArrowMixin(sizeMedium, 0, 0, -208px, 441%);

  .sizeMedium {
    font-size: 16px;
  }

  // size Large
  .buttonArrowMixin(sizeLarge, 10.2px, -10.6px, -10.8px, 21.7px, rotate(53deg) skewX(25deg) skewY(10deg));
  .buttonLoadingArrowMixin(sizeLarge, -32px, -36px, -198px, 700%);

  .sizeLarge {
    font-size: 16px;
  }

  .buttonWithIcon {
    padding-right: 15px;
    padding-left: 15px;
  }

  .borderless:not(.focus):not(.disabled):not(.active):not(.checked) {
    box-shadow: none !important; /* to override dynamic styles */

    &:hover,
    &:active {
      box-shadow: none !important; /* to override dynamic style */
    }
  }
}
