:local {
  .wrap,
  .wrap_link,
  .wrap_arrow,
  .wrap_arrow_left,
  .root,
  .link,
  .arrow,
  .arrow_left,
  .errorRoot,
  .warningRoot,
  .error,
  .warning,
  .arrow_error,
  .arrow_warning,
  .loading,
  .arrow_loading,
  .caption,
  .icon,
  .narrow,
  .noPadding,
  .noRightPadding {
    visibility: visible;
  }

  // size Small
  .sizeSmall {
    font-size: 14px;
  }

  // size Medium
  .sizeMedium {
    font-size: 16px;
  }

  // size Large
  .sizeLarge {
    font-size: 16px;
  }

  .buttonWithIcon {
    padding-right: 15px;
    padding-left: 15px;
  }

  .borderless:not(.focus):not(.disabled):not(.active):not(.checked) {
    box-shadow: none !important; /* to override dynamic styles */

    &:hover,
    &:active {
      box-shadow: none !important; /* to override dynamic style */
    }
  }
}
