@import '../variables.less';

:local {
  .kebab {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    outline: 0;

    &:hover {
      background: rgba(0, 0, 0, 0.09);
    }
  }

  .focused {
    border-color: @border-color-focus;
    background: rgba(0, 0, 0, 0.09);
  }

  .prop {
    margin-top: -3px;
  }

  .small {
    width: 20px;
    height: 20px;
  }

  .large {
    width: 26px;
    height: 26px;
  }
}
