:local {
  .kebabbb {
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    user-select: none;
    outline: none;

    &:hover {
      background: rgba(0,0,0,0.09);
    }

    &:focus {
      border: 1px solid #5199db;
      line-height: 24px
    }
  }

  .kebab {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;
    outline: 0;

    &:hover {
      background: rgba(0,0,0,0.09);
    }
    
    &:focus {
      border-color: #5199db;
    }
  }

  .prop {
    margin-top: -3px;
  }

  .small {
    width: 20px;
    height: 20px;
  }

  .medium {
    width: 26px;
    height: 26px;
  }

}