:local {
  .kebab {
    width: 26px;
    height: 26px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    user-select: none;
    outline: none;

    &:hover {
      background: rgba(0,0,0,0.09);
    }

    &:focus {
      border: 1px solid #5199db;
      line-height: 24px
    }
  }
}