@import '../variables.less';

:local {
  .root {
    padding: 6px 18px 7px 6px;
    white-space: nowrap;
  }

  .hover {
    background: @dropdown-menu-selected-bg;
  }

  .selected {
    background: @dropdown-menu-hover-bg;
  }
}
