:local {
  .root {
    display: inline-flex;
  }

  .fixed {
    flex-shrink: 0;
  }

  .stretch {
    flex-grow: 1;
  }

  .item {
    margin-left: -1px;
  }

  .itemFirst {
    margin-left: 0;
  }
}
