@import (reference) '../variables.less';
@import (reference) '../variables.flat.less';
@import './Textarea.common.less';

:local {
  .commonStyles();

  .textarea {
    background: @textarea-flat-bg;
    color: @textarea-flat-color;

    &:focus {
      border-color: @flat-border-color-focus;
      box-shadow: 0 0 0 1px @flat-border-color-focus;
    }
  }
}
