.AppliedFilters {
  padding: 8px;
}

.AppliedFiltersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 4px 6px;
  border-radius: 8px;
  margin: 0;
  list-style: none;
}

.AppliedFiltersItem {
  margin: 4px;
  display: inline-flex;
  align-items: center;
}
