@import '../variables.less';

:local {
  .root {
    position: relative;
    display: inline-block;
    max-width: 100%;
    width: 250px;
  }

  .textarea {
    border: 1px solid @border-color-gray-light;
    border-top-color: @border-color-gray-dark;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    padding: 8px;
    width: 100%;
  }

  .deprecated_oldSize {
    padding: 6px 8px;
  }

  .textarea:focus {
    border-color: @border-color-focus;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-focus;
    position: relative;
    z-index: 2;
  }

  :global(.rt-ie8) {
    .textarea:focus {
      outline: 1px solid @border-color-focus;
    }
    
    .error,
    .error:focus {
      outline: 1px solid @border-color-error;
    }
  }

  .textarea[disabled] {
    background: @bg-disabled;
    border-color: @border-color-gray-light;
    color: @text-color-disabled;
  }

  .placeholder {
    position: absolute;
    z-index: 3;
    top: 1px;
    right: 24px;
    left: 9px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #aaa;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
  }

  .error,
  .error:focus {
    border-color: @border-color-error;
    border-radius: 1px;
    box-shadow: 0 0 0 1px @border-color-error;
  }
}
