@import '../variables.less';

:local {
  .root {
    .label {
      background: @bg-default;
      border: 1px solid @border-color-gray-light;
      border-top-color: @border-color-gray-dark;
      box-sizing: border-box;
      cursor: text;
      padding: 4px;
      display: flex;
      flex-wrap: wrap;
      outline: none;

      &.warning {
        border: 1px solid @border-color-warning;
        box-shadow: 0 0 0 1px @border-color-warning;
      }

      &.error {
        border: 1px solid @border-color-error;
        box-shadow: 0 0 0 1px @border-color-error;
      }

      &.focus {
        border: 1px solid @border-color-focus;
        box-shadow: 0 0 0 1px @border-color-focus;
      }

      &.disabled {
        background: @bg-disabled;
        box-shadow: none;
        border-color: @border-color-gray-light;

        .input {
          color: @text-color-disabled;
          pointer-events: none;

          /* fix text color in safari */
          -webkit-text-fill-color: currentcolor;

          .placeholder({-webkit-text-fill-color: @placeholder-color;});
        }
      }
    }

    .input {
      min-width: 0;
      max-width: 100%;
      width: 50px;
      background: transparent;
      border: none;
      box-shadow: none;
      outline: none;
      margin: 2px 0;
      font-family: inherit;
      font-size: 14px;
      padding: 0 0 0 5px;
      height: 24px;
      -webkit-appearance: none;
      white-space: nowrap;
      text-overflow: clip;
      background-clip: padding-box;
      transition: background-color 0.15s ease-in;

      &::-ms-clear {
        display: none;
      }

      &::placeholder {
        color: @placeholder-color;
      }

      &:focus::placeholder {
        color: @placeholder-color-light;
      }
    }
  }
}
