body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  margin: 0;
}

.CodeMirror {
  box-shadow: none !important;
  font-family: menlo, monospace;
  font-size: 12px;
  height: auto;
}

.rt-sc-ShowcaseApp {
  &-head {
    background: #666;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
  }

  &-content {
    margin: 0 auto;
    max-width: 1200px;
  }
}
