:local {
  .root {
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    position: relative;
    bottom: 2px;
    &:hover {
      color: #000;
    }
  }
  .cloud {
    width: 22px;
    vertical-align: -1px;
  }
}