:local {
  .root::after {
    content: '';
    clear: both;
    display: block;
  }

  .name {
    font-size: 30px;
    font-weight: 300;
    margin: 0 0 20px;
    padding-left: 10px;
  }

  .code {
    margin: 15px 0;
  }

  .codeRunner {
    padding-left: 10px;
  }

  .codeTitle {
    // background: #cfd0c8;
    font-size: 24px;
    font-weight: 300;
    padding: 4px 10px;
    cursor: pointer;
    display: inline-block;
    transition: background 0.2s ease-in;

    &:hover {
      background: #f0f0f0;
    }
  }

  .docs {
    margin-top: 20px;
    margin-bottom: 60px;
  }
}
