:local {
  .desc {
    margin: 20px 0;
  }

  .prop {
    margin: 20px 0;
  }

  .propName {
    font-weight: 600;
  }

  .propTypeColon {
    color: #888;
    margin: 0 5px;
  }

  .propType {
    color: #5eba57;
  }

  .propRequired {
    color: #ff5050;
    margin-left: 5px;
  }

  .propDesc {
    margin-left: 15px;
  }

  .md {
    pre code {
      background: #f4f4f4;
      display: block;
      overflow: auto;
      padding: 4px;
    }

    code {
      background: #f4f4f4;
      border: 1px solid #eee;
      border-radius: 2px;
      padding: 1px 4px;
    }
  }
}
