@import '../variables.less';

@modal-bg-bg: #00030a;
@modal-close-color: #000;
@modal-header-bc-bottom: #e4e4e4;
@modal-footer-bg: #f5f5f5;

:local {
  .root {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .bg {
    background: @modal-bg-bg;
    bottom: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    left: 0;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 0;
  }

  .window {
    background: @bg-default;
    box-shadow: 0 4px 20px @box-shadow;
    position: relative;
  }

  .close {
    color: @modal-close-color;
    float: right;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 40px;

    &:focus {
      outline: 1px solid @border-color-focus;
    }
  }

  .header {
    border-bottom: 1px solid @modal-header-bc-bottom;
    font-size: 18px;
    padding: 20px 25px;
  }

  .body {
    padding: 20px 25px;
  }

  .footer {
    background: @modal-footer-bg;
    border-top: 1px solid @modal-header-bc-bottom;
    padding: 20px 25px;
  }
}
