@import '../variables.less';

:local {
  .root {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .bg {
    background: @modal-bg-bg;
    bottom: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
    left: 0;
    opacity: .6;
    position: absolute;
    right: 0;
    top: 0;
  }

  .window {
    background: @modal-window-bg;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
    position: relative;
  }

  .close {
    color: @modal-close-color;
    float: right;
    font-size: 20px;
    line-height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    text-decoration: none;
    width: 40px;

    &:focus {
      outline: 1px solid @modal-close-focus-outline;
    }
  }

  .header {
    border-bottom: 1px solid @modal-header-bc-bottom;
    font-size: 18px;
    padding: 20px 25px;
  }

  .body {
    padding: 20px 25px;
  }

  .footer {
    background: @modal-footer-bg;
    border-top: 1px solid @modal-header-bc-bottom;
    padding: 20px 25px;
  }
}
