@import '../variables.less';

:local {
  .radio {
    position: relative;
    background-image: linear-gradient(-180deg, #FFFFFF 0, #EBEBEB 100%);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15),0 0 0 1px rgba(0,0,0,0.15);
    border-radius: 50%;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }


  .root:hover .radio {
    background: linear-gradient(-180deg, #F2F2F2 0, #DFDFDF 100%);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.15),0 0 0 1px rgba(0,0,0,0.2);
  }

  .root:active .radio {
    background: #E1E1E1;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1),0 0 0 1px rgba(0,0,0,0.2),inset 0 1px 2px 0 rgba(0,0,0,0.1)
  }

  .focused:after,
  .warning:after,
  .error:after {
    content: '';
    position: absolute;
    box-sizing: border-box;
    border-radius: 50%;
  }

  .warning:after, .error:after {
    width: 20px;
    height: 20px;
    left: -2px;
    top: -2px;
  }

  .focused:after {
    width: 24px;
    height: 24px;
    left: -4px;
    top: -4px;
    border: 2px solid @border-color-focus;
  }

  .warning:after {
    border: 2px solid @border-color-warning;
  }

  .error:after {
    border: 2px solid @border-color-error;
  }

  .checked {
    position: relative;
  }

  .checked:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    height: 8px;
    width: 8px;
    background: @text-color-default;
    border-radius: 50%;
  }

  .disabled {
    background: #f2f2f2;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
  }

  .disabled.checked:before {
    background: #808080
  }

  .radioWrap {
    position: relative;
    top: 3px;
    display: table-cell;
    width: 25px;
  }

  .label {
    display: table-cell;
    margin-left: 22px;
  }

  .labelDisabled {
    color: #808080;
  }
}
