{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        [
            "transform-define",
            {
                "REACT_UI_PACKAGE": "retail-ui"
            }
        ]
    ]
}
