.Table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  --table-radius-small: 12px;
  --table-radius-medium: 16px;
  --table-radius-large: 20px;
}

.TableLayoutAuto {
  table-layout: auto;
}

.TableHeader {
  position: relative;
}

@supports (selector(:has(*))) {
  .TableHeader:not(
      :has(
          + .TableBody > .ClickableTableRow:hover:first-child,
          + .TableBody > .CheckedRow:first-child,
          + .TableBody > .ClickableTableRow:focus-within:first-child,
          + .TableBody > .TableRow > .FilterResultCell
        )
    )::after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    content: ' ';
    bottom: 1px;
    z-index: 3;
    box-shadow: 0 13px 0 -12px var(--table-border);
  }
}

.StickyTableHeader {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--table-sticky-background);
}

.TableHeaderCell {
  border: none;
  font-weight: normal;
  text-align: left;
  vertical-align: baseline;
  padding: 8px 0 8px 0;
}

.TableHeaderCell.CheckboxCell label {
  opacity: 1;
}

.PaddingForHeaderSmall {
  padding: 4px 0 4px 0;
}

.PaddingForHeaderMedium {
  padding: 8px 0 8px 0;
}

.PaddingForHeaderLarge {
  padding: 16px 0 16px 0;
}

.PaddingForSimpleHeader {
  color: var(--table-secondary-text);
}

.PaddingForSimpleHeaderSmall {
  padding: 10px 13px 10px 13px;
}

.PaddingForSimpleHeaderMedium {
  padding: 17px 17px 17px 17px;
}

.PaddingForSimpleHeaderLarge {
  padding: 28px 21px 28px 21px;
}

.CheckboxHeaderCell {
  padding: 4px 16px 4px 16px;
}

.TableHeaderCell.NoWrapCell {
  text-wrap: nowrap;
}

.TableHeaderCell.Currency {
  text-align: right;
}

.TableHeaderCell[scope='col'] {
  color: var(--table-secondary-text);
  font-weight: 400;
}

.TableRow {
  border: none;
  padding: 0;
  position: relative;
}

.ClickableTableRow {
  cursor: pointer;
}

.BottomBorder {
  box-shadow: 0 13px 0 -12px var(--table-border);
}

.BottomBorderInset {
  box-shadow: inset 0px -1px 0 0px var(--table-border);
}

.ClickableTableRow:focus-within.BottomBorder,
.ClickableTableRow:hover.BottomBorder,
.ClickableTableRow.CheckedRow.BottomBorder {
  box-shadow: none;
}

@supports (selector(:has(*))) {
  .BottomBorder:has(+ .ClickableTableRow:hover),
  .BottomBorder:has(+ .ClickableTableRow.CheckedRow),
  .BottomBorder:has(+ .ClickableTableRow:focus-within) {
    box-shadow: none;
  }
}

.ClickableTableRow:hover .TableCell,
.ClickableTableRow:focus-within .TableCell {
  background: var(--table-row-hover);
}

.CheckedRow .TableCell {
  background: var(--table-row-checked);
}

.ClickableTableRow.CheckedRow:hover .TableCell,
.ClickableTableRow.CheckedRow:focus-within .TableCell {
  background: var(--table-row-checked-hover);
}

@supports (selector(:has(*))) {
  .ClickableTableRow:active:not(:has(.TableCell *:focus-within)) .TableCell {
    background: var(--table-row-active);
  }
  .ClickableTableRow.CheckedRow:active:not(:has(.TableCell *:focus-within)) .TableCell {
    background: var(--table-row-checked-active);
  }
}

@supports (selector(:has(*))) {
  .CheckedRow:has(+ .CheckedRow) .TableCell,
  .CheckedRow:has(+ .ClickableTableRow:hover) .TableCell,
  .CheckedRow:has(+ .ClickableTableRow:focus-within) .TableCell,
  .ClickableTableRow:focus-within:has(+ .CheckedRow) .TableCell,
  .ClickableTableRow:focus-within:has(+ .ClickableTableRow:hover) .TableCell,
  .ClickableTableRow:focus-within:has(+ .ClickableTableRow:focus-within) .TableCell,
  .ClickableTableRow:hover:has(+ .CheckedRow) .TableCell,
  .ClickableTableRow:hover:has(+ .ClickableTableRow:hover) .TableCell,
  .ClickableTableRow:hover:has(+ .ClickableTableRow:focus-within) .TableCell,
  .FilterResultRow:has(+ .CheckedRow) .TableCell,
  .FilterResultRow:has(+ .ClickableTableRow:hover) .TableCell,
  .FilterResultRow:has(+ .ClickableTableRow:focus-within) .TableCell {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .CheckedRow + .CheckedRow .TableCell,
  .CheckedRow + .ClickableTableRow:hover .TableCell,
  .CheckedRow + .ClickableTableRow:focus-within .TableCell,
  .ClickableTableRow:focus-within + .CheckedRow .TableCell,
  .ClickableTableRow:focus-within + .ClickableTableRow:hover .TableCell,
  .ClickableTableRow:focus-within + .ClickableTableRow:focus-within .TableCell,
  .ClickableTableRow:hover + .CheckedRow .TableCell,
  .ClickableTableRow:hover + .ClickableTableRow:hover .TableCell,
  .ClickableTableRow:hover + .ClickableTableRow:focus-within .TableCell,
  .FilterResultRow + .CheckedRow .TableCell,
  .FilterResultRow + .ClickableTableRow:hover .TableCell,
  .FilterResultRow + .ClickableTableRow:focus-within .TableCell {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.TableRow:focus-visible {
  outline: var(--table-outline-width) solid var(--table-outline);
  outline-offset: 2px;
  z-index: 3;
}

.TableCell {
  border: none;
  padding: 0;
  text-align: left;
  vertical-align: baseline;
  word-wrap: break-word;
  transition: border-radius ease 0.15s;
}

.TableCell:first-child {
  border-top-left-radius: var(--table-base-size);
  border-bottom-left-radius: var(--table-base-size);
}

.TableCell:last-child {
  position: relative;
  border-top-right-radius: var(--table-base-size);
  border-bottom-right-radius: var(--table-base-size);
}

.TableCell:first-child.CheckboxCellSmall,
.TableCellSmall:first-child {
  border-top-left-radius: var(--table-radius-small);
  border-bottom-left-radius: var(--table-radius-small);
}

.TableCellSmall:last-child {
  border-top-right-radius: var(--table-radius-small);
  border-bottom-right-radius: var(--table-radius-small);
}

.TableCell:first-child.CheckboxCellMedium,
.TableCellMedium:first-child {
  border-top-left-radius: var(--table-radius-medium);
  border-bottom-left-radius: var(--table-radius-medium);
}

.TableCellMedium:last-child {
  border-top-right-radius: var(--table-radius-medium);
  border-bottom-right-radius: var(--table-radius-medium);
}

.TableCell:first-child.CheckboxCellLarge,
.TableCellLarge:first-child {
  border-top-left-radius: var(--table-radius-large);
  border-bottom-left-radius: var(--table-radius-large);
}

.TableCellLarge:last-child {
  border-top-right-radius: var(--table-radius-large);
  border-bottom-right-radius: var(--table-radius-large);
}

.TableCellSmall {
  padding: 4px 8px 4px 13px;
}

.TableCellMedium {
  padding: 8px 10px 8px 17px;
}

.TableCellLarge {
  padding: 16px 12px 16px 21px;
}

.TableCellTextSmall {
  padding: 10px 8px 10px 13px;
}

.TableCellTextMedium {
  padding: 17px 10px 17px 17px;
}

.TableCellTextLarge {
  padding: 28px 12px 28px 21px;
}

.CheckboxCell {
  padding-top: 0px;
  padding-bottom: 0px;
}

.CheckboxCellSmall {
  padding-right: 4px;
  padding-left: 12px;
}

.CheckboxCellMedium {
  padding-right: 6px;
  padding-left: 16px;
}

.CheckboxCellLarge {
  padding-right: 8px;
  padding-left: 20px;
}

.TableCell.NoWrapCell {
  text-wrap: nowrap;
}

.TableCellSmall.Currency {
  padding-right: 13px;
  padding-left: 8px;
}

.TableCellMedium.Currency {
  padding-right: 17px;
  padding-left: 10px;
}

.TableCellLarge.Currency {
  padding-right: 21px;
  padding-left: 12px;
}
.TableCell.Currency {
  text-align: right;
}

.FilterResultCell {
  background: var(--table-row-hover);
  padding: 0;
}

.TableCell[scope='col'] {
  color: var(--table-secondary-text);
  font-weight: 400;
}

.CheckboxCell label {
  opacity: 0;
}

.HasChecked .CheckboxCell label {
  opacity: 1;
}

@supports (selector(:has(*))) {
  .TableRow .CheckboxCell label:has(> input[type='checkbox']:focus-visible) {
    opacity: 1;
  }
}

@supports (selector(:focus-within)) {
  .TableRow:focus-within .CheckboxCell label {
    opacity: 1;
  }
}

.TableRow:hover .CheckboxCell label,
.CheckedRow .CheckboxCell label {
  opacity: 1;
}

.TableFooter {
  border: none;
  padding: 8px;
  box-shadow: 0px -13px 0px -12px var(--table-border);
}

.StickyTableFooter {
  position: sticky;
  bottom: 0;
  z-index: 1;
  text-align: center;
  background: var(--table-sticky-background);
}

@supports (selector(:has(*))) {
  .TableBody:has(.ClickableTableRow:hover:last-child) + .TableFooter,
  .TableBody:has(.CheckedRow:last-child) + .TableFooter,
  .TableBody:has(.ClickableTableRow:focus-within:last-child) + .TableFooter {
    box-shadow: none;
  }
}

.PopupActionBar {
  position: absolute;

  --shadow-xoffset: -16px;
  --shadow-yoffset: 0;
  --shadow-blur: 4px;
  --shadow-spread: -1px;
}

.PopupActionBarSmall {
  top: 0px;
  right: 0px;
  padding-top: 3px;
  padding-right: 4px;
  height: calc(100% - 4px);
  border-radius: var(--table-radius-small);
}

.PopupActionBarMedium {
  top: 0px;
  right: 0px;
  padding-top: 7px;
  padding-right: 8px;
  height: calc(100% - 8px);
  border-radius: var(--table-radius-medium);
}

.PopupActionBarLarge {
  top: 0px;
  right: 0px;
  padding-top: 11px;
  padding-right: 12px;
  height: calc(100% - 12px);
  border-radius: var(--table-radius-large);
}

@supports (selector(:has(*))) {
  .CheckedRow:has(+ .CheckedRow) .PopupActionBar,
  .CheckedRow:has(+ .ClickableTableRow:hover) .PopupActionBar,
  .CheckedRow:has(+ .ClickableTableRow:focus-within) .PopupActionBar,
  .ClickableTableRow:focus-within:has(+ .CheckedRow) .PopupActionBar,
  .ClickableTableRow:focus-within:has(+ .ClickableTableRow:hover) .PopupActionBar,
  .ClickableTableRow:focus-within:has(+ .ClickableTableRow:focus-within) .PopupActionBar,
  .ClickableTableRow:hover:has(+ .CheckedRow) .PopupActionBar,
  .ClickableTableRow:hover:has(+ .ClickableTableRow:hover) .PopupActionBar,
  .ClickableTableRow:hover:has(+ .ClickableTableRow:focus-within) .PopupActionBar,
  .FilterResultRow:has(+ .CheckedRow) .PopupActionBar,
  .FilterResultRow:has(+ .ClickableTableRow:hover) .PopupActionBar,
  .FilterResultRow:has(+ .ClickableTableRow:focus-within) .PopupActionBar {
    border-bottom-right-radius: 0;
  }

  .CheckedRow + .CheckedRow .PopupActionBar,
  .CheckedRow + .ClickableTableRow:hover .PopupActionBar,
  .CheckedRow + .ClickableTableRow:focus-within .PopupActionBar,
  .ClickableTableRow:focus-within + .CheckedRow .PopupActionBar,
  .ClickableTableRow:focus-within + .ClickableTableRow:hover .PopupActionBar,
  .ClickableTableRow:focus-within + .ClickableTableRow:focus-within .PopupActionBar,
  .ClickableTableRow:hover + .CheckedRow .PopupActionBar,
  .ClickableTableRow:hover + .ClickableTableRow:hover .PopupActionBar,
  .ClickableTableRow:hover + .ClickableTableRow:focus-within .PopupActionBar,
  .FilterResultRow + .CheckedRow .PopupActionBar,
  .FilterResultRow + .ClickableTableRow:hover .PopupActionBar,
  .FilterResultRow + .ClickableTableRow:focus-within .PopupActionBar {
    border-top-right-radius: 0;
  }
}

@supports not (selector(:has(*))) {
  .PopupActionBar {
    opacity: 0;
  }

  .PopupActionBar:focus-within,
  .ClickableTableRow:hover .PopupActionBar {
    opacity: 1;
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-hover);
    background: var(--table-row-shadow-hover);
  }

  .Hover.Hover {
    opacity: 1;
    background: var(--table-row-hover);
  }

  .ClickableTableRow.CheckedRow:hover .PopupActionBar,
  .ClickableTableRow.CheckedRow:focus-within .PopupActionBar {
    opacity: 1;
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-checked-hover);
    background: var(--table-row-shadow-checked-hover);
  }
}

@supports (selector(:has(*))) {
  .PopupActionBar {
    opacity: 0;
  }

  .TableRow:focus-within .PopupActionBar,
  .TableRow:hover .PopupActionBar {
    opacity: 1;
  }

  .PopupActionBar:has(.Hover) {
    opacity: 1;
    background: var(--table-sticky-background);
  }

  .ClickableTableRow:focus-within .PopupActionBar,
  .ClickableTableRow .PopupActionBar:focus-within,
  .ClickableTableRow.CheckedRow .PopupActionBar:has(.Hover),
  .ClickableTableRow:hover .PopupActionBar {
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-hover);
    background: var(--table-row-shadow-hover);
  }

  .ClickableTableRow.CheckedRow .PopupActionBar:has(.Hover) {
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-checked);
    background: var(--table-row-shadow-checked);
  }

  .ClickableTableRow.CheckedRow:hover .PopupActionBar,
  .ClickableTableRow.CheckedRow:focus-within .PopupActionBar {
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-checked-hover);
    background: var(--table-row-shadow-checked-hover);
  }

  .ClickableTableRow:active:not(:has(.TableCell *:focus-within)) .PopupActionBar {
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-active);
    background: var(--table-row-shadow-active);
  }

  .ClickableTableRow.CheckedRow:active:not(:has(.TableCell *:focus-within)) .PopupActionBar {
    box-shadow: var(--shadow-xoffset) var(--shadow-yoffset) var(--shadow-blur) var(--shadow-spread)
      var(--table-row-shadow-checked-active);
    background: var(--table-row-shadow-checked-active);
  }
}

.ActionsDropdownItem {
  padding: 4px 8px;
}

.Danger:active * {
  color: var(--table-danger-active-color, #fff);
}
