// Common
@flat-border-color-focus: #1d85d0;
@flat-outline-color-focus: #fff;

@blink-color: #cde4f8;

// Button

@btn-flat-checked-bg: #7e7e7e;
@btn-flat-checked-text-color: #fff;
@btn-flat-disabled-bg: #f4f4f4;

@btn-flat-default-bg: none;
@btn-flat-default-bg-arrow: #fff;
@btn-flat-default-bg-arrow-left: #fff;
@btn-flat-default-text-color: none;
@btn-flat-default-hover-bg: #f2f2f2;
@btn-flat-default-hover-border-color: #D9D9D9;
@btn-flat-default-active-bg: #E5E5E5;
@btn-flat-default-active-border-color: #CCCCCC;
@btn-flat-default-border: 1px solid rgba(0, 0, 0, 0.15);
@btn-flat-default-shadow-arrow: 1px -1px 0 0 rgba(0, 0, 0, 0.15);

@btn-flat-primary-bg: #1d85d0;
@btn-flat-primary-text-color: #fff;
@btn-flat-primary-hover-bg: #1b7dc3;
@btn-flat-primary-active-bg: #1974b6;
@btn-flat-primary-disabled-bg: #1d85d0;
@btn-flat-primary-border: 1px solid transparent;

@btn-flat-success-bg: #419d14;
@btn-flat-success-text-color: #fff;
@btn-flat-success-hover-bg: #3c9312;
@btn-flat-success-active-bg: #398911;
@btn-flat-success-disabled-bg: #419d14;
@btn-flat-success-border: 1px solid transparent;

@btn-flat-danger-bg: #d9472b;
@btn-flat-danger-text-color: #fff;
@btn-flat-danger-hover-bg: #cc4228;
@btn-flat-danger-active-bg: #be3e25;
@btn-flat-danger-disabled-bg: #d9472b;
@btn-flat-danger-border: 1px solid transparent;

@btn-flat-pay-bg: #ffca43;
@btn-flat-pay-text-color: none;
@btn-flat-pay-hover-bg: #f0be3f;
@btn-flat-pay-active-bg: #e0b13a;
@btn-flat-pay-disabled-bg: #ffca43;
@btn-flat-pay-border: 1px solid transparent;

// Checkbox
@chb-flat-shadow: none;
@chb-flat-border: @btn-flat-default-border;
@chb-flat-border-color-focus: @flat-border-color-focus;
@chb-flat-border-radius: 2px;
@chb-flat-bg: none;
@chb-flat-indeterminate-bg: #fff;
@chb-flat-hover-bg: @btn-flat-default-hover-bg;
@chb-flat-active-bg: @btn-flat-default-active-bg;
@chb-flat-checked-bg: @flat-border-color-focus;
@chb-flat-shadow-disabled: none;
@chb-flat-shadow-active: none;
@chb-flat-shadow-width: 1px;
@chb-flat-checked-color: #fff;
@chb-flat-box-indeterminate-bg: @chb-flat-checked-bg;
@chb-flat-box-indeterminate-bg-hover: @chb-flat-checked-bg;
@chb-flat-box-indeterminate-bg-active: @chb-flat-checked-bg;

// Input DEPRECATED
@chb-flat-input-bg: white;
@chb-flat-input-icon-color: #a9a9a9;
@chb-flat-input-color: inherit;
@chb-flat-input-disabled-color: rgba(0, 0, 0, 0.05);

// Input
@input-flat-bg: @chb-flat-input-bg;
@input-flat-disabled-bg: @chb-flat-input-disabled-color;
@input-flat-disabled-border-color: @chb-flat-input-disabled-color;
@input-flat-icon-color: @chb-flat-input-icon-color;
@input-flat-color: @chb-flat-input-color;
@input-flat-disabled-color: @chb-flat-input-disabled-color;
@input-flat-shadow: none;
@input-flat-focus-shadow: 0 0 0 1px @flat-border-color-focus;;
@input-flat-border-width: 1px;
@input-flat-border-top-color: rgba(0, 0, 0, 0.15);

// Toggle
@toggle-flat-bg: #fff;
@toggle-flat-bg-disabled: none;
@toggle-flat-bg-hover: #f3f3f2;
@toggle-flat-bg-checked: #3072c4;
@toggle-flat-bg-warning: #f69c00;
@toggle-flat-bg-error: #d70c17;
@toggle-flat-bg-active: #e5e5e5;
@toggle-flat-focus-shadow-color: #5199db;
@toggle-flat-border-color: #d0d0d0;

// TextArea
@textarea-flat-bg: white;
@textarea-flat-color: inherit;
@textarea-flat-disabled-color: rgba(0, 0, 0, 0.05);

@import (optional) '~react-ui-theme-flat';

@value outlineColorFocus: @flat-outline-color-focus;
@value blinkColor: @blink-color;
@value btnCheckedBg: @btn-flat-checked-bg;
@value btnCheckedTextColor: @btn-flat-checked-text-color;
@value btnDisabledBg: @btn-flat-disabled-bg;
@value btnDefaultBg: @btn-flat-default-bg;
@value btnDefaultBgArrow: @btn-flat-default-bg-arrow;
@value btnDefaultBgArrowLeft: @btn-flat-default-bg-arrow-left;
@value btnDefaultTextColor: @btn-flat-default-text-color;
@value btnDefaultHoverBg: @btn-flat-default-hover-bg;
@value btnDefaultHoverBorderColor: @btn-flat-default-hover-border-color;
@value btnDefaultActiveBg: @btn-flat-default-active-bg;
@value btnDefaultActiveBorderColor: @btn-flat-default-active-border-color;
@value btnDefaultBorder: @btn-flat-default-border;
@value btnDefaultShadowArrow: @btn-flat-default-shadow-arrow;
@value btnPrimaryBg: @btn-flat-primary-bg;
@value btnPrimaryTextColor: @btn-flat-primary-text-color;
@value btnPrimaryHoverBg: @btn-flat-primary-hover-bg;
@value btnPrimaryActiveBg: @btn-flat-primary-active-bg;
@value btnPrimaryDisabledBg: @btn-flat-primary-disabled-bg;
@value btnPrimaryBorder: @btn-flat-primary-border;
@value btnSuccessBg: @btn-flat-success-bg;
@value btnSuccessTextColor: @btn-flat-success-text-color;
@value btnSuccessHoverBg: @btn-flat-success-hover-bg;
@value btnSuccessActiveBg: @btn-flat-success-active-bg;
@value btnSuccessDisabledBg: @btn-flat-success-disabled-bg;
@value btnSuccessBorder: @btn-flat-success-border;
@value btnDangerBg: @btn-flat-danger-bg;
@value btnDangerTextColor: @btn-flat-danger-text-color;
@value btnDangerHoverBg: @btn-flat-danger-hover-bg;
@value btnDangerActiveBg: @btn-flat-danger-active-bg;
@value btnDangerDisabledBg: @btn-flat-danger-disabled-bg;
@value btnDangerBorder: @btn-flat-danger-border;
@value btnPayBg: @btn-flat-pay-bg;
@value btnPayTextColor: @btn-flat-pay-text-color;
@value btnPayHoverBg: @btn-flat-pay-hover-bg;
@value btnPayActiveBg: @btn-flat-pay-active-bg;
@value btnPayDisabledBg: @btn-flat-pay-disabled-bg;
@value btnPayBorder: @btn-flat-pay-border;
@value chbShadow: @chb-flat-shadow;
@value chbBorder: @chb-flat-border;
@value chbBorderColorFocus: @chb-flat-border-color-focus;
@value chbBorderRadius: @chb-flat-border-radius;
@value chbBg: @chb-flat-bg;
@value chbIndeterminateBg: @chb-flat-indeterminate-bg;
@value chbHoverBg: @chb-flat-hover-bg;
@value chbActiveBg: @chb-flat-active-bg;
@value chbCheckedBg: @chb-flat-checked-bg;
@value chbShadowDisabled: @chb-flat-shadow-disabled;
@value chbShadowActive: @chb-flat-shadow-active;
@value chbShadowWidth: @chb-flat-shadow-width;
@value chbCheckedColor: @chb-flat-checked-color;
@value chbBoxIndeterminateBg: @chb-flat-box-indeterminate-bg;
@value chbBoxIndeterminateBgHover: @chb-flat-box-indeterminate-bg-hover;
@value chbBoxIndeterminateBgActive: @chb-flat-box-indeterminate-bg-active;
@value inputBg: @input-flat-bg;
@value inputIconColor: @input-flat-icon-color;
@value inputColor: @input-flat-color;
@value inputDisabledColor: @input-flat-disabled-color;
@value inputShadow: @input-flat-shadow;
@value inputFocusShadow: @input-flat-focus-shadow;
@value inputBorderWidth: @input-flat-border-width;
@value inputBorderTopColor: @input-flat-border-top-color;
@value inputDisabledBg: @input-flat-disabled-bg;
@value inputDisabledBorderColor: @input-flat-disabled-border-color;
@value toggleBg: @toggle-flat-bg;
@value toggleBgDisabled: @toggle-flat-bg-disabled;
@value toggleBgHover: @toggle-flat-bg-hover;
@value toggleBgChecked: @toggle-flat-bg-checked;
@value toggleBgWarning: @toggle-flat-bg-warning;
@value toggleBgError: @toggle-flat-bg-error;
@value toggleBgActive: @toggle-flat-bg-active;
@value toggleFocusShadowColor: @toggle-flat-focus-shadow-color;
@value toggleBorderColor: @toggle-flat-border-color;
@value textareaBg: @textarea-flat-bg;
@value textareaColor: @textarea-flat-color;
@value textareaDisabledColor: @textarea-flat-disabled-color;
